.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--background-secondary);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container svg {
    width: 1em;
    height: 1em;
    font-size: 32px;
    color: var(--text-secondary);
    cursor: pointer;
}

.container .disabled {
    color: grey;
    cursor: not-allowed;
}

.container svg:not(.disabled):hover {
    color: var(--text-primary);
}

.container svg:not(.disabled):active {
    transform: translateY(2px);
}

.moveNumber {
    color: var(--text-primary);
    user-select: none;
}

.reset {
    margin-right: auto;
}

.analyze {
    margin-left: auto;
}
