.container {
    width: 100%;
    padding: 20px 10px;
    background-color: var(--background-secondary);
    margin-top: 10px;
}

.container > p {
    color: var(--text-primary);
}

.graphContainer {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
