[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    migrations,
    manage.py,
    settings.py,
    wsgi.py,
    asgi.py
per-file-ignores =
    __init__.py:F401
max-complexity = 10
select = C,E,F,W,B,B950
