.container {
    display: inline-block;
}

.board {
    width: 800px;
    height: 800px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--background-secondary);
    padding: 5px;
}

.controls button {
    padding: 5px;
    border: none;
    cursor: pointer;
}
