header {
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--background-secondary);
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav a {
    color: var(--text-primary);
    text-decoration: none;
}

nav a:first-child {
    margin-right: auto;
    font-weight: bold;
}
