header {
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--background-secondary);
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav span {
    position: relative;
}

nav span a {
    position: relative;
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 500;
}

nav > .logo {
    margin-right: auto;
    font-weight: bold;
}

nav span:not(.demo) a {
    transition: 0.3s;
}

nav span:not(.demo):hover a {
    color: var(--text-secondary);
}

nav span:not(.demo)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--text-secondary);
    opacity: 0;
    visibility: 0;
    transition: 0.5s;
}

nav span:not(.demo):hover::after {
    opacity: 1;
    visibility: visible;
}

span.demo {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

span.demo:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

span.demo a {
    color: black;
}
