main {
    display: block;
    position: relative;
    text-align: center;
}

.game {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 25px;
}
