name: DEPLOY
on:
    push:
        branches:
            - main
        paths:
            - "backend/**"

permissions:
    id-token: write
    contents: read

jobs:
    deploy:
        if: |
            !contains(github.event.head_commit.message, '[skip deploy]')
        runs-on: ubuntu-latest
        steps:
            - name: Configure AWS creds (OICD)
              uses: aws-actions/configure-aws-credentials@main
              with:
                  role-to-assume: ${{ secrets.AWS_ARN }}
                  aws-region: ${{ secrets.AWS_REGION }}

            - name: Get runner IP
              id: ip
              run: echo "ip=$(curl -s https://checkip.amazonaws.com)" >> $GITHUB_OUTPUT

            - name: Allow SSH from runner
              run: |
                  aws ec2 authorize-security-group-ingress \
                  --group-id ${{ secrets.AWS_SECURITY_GROUP_ID }} \
                  --ip-permissions "IpProtocol=tcp,FromPort=22,ToPort=22,IpRanges=[{CidrIp=${{ steps.ip.outputs.ip }}/32,Description='GitHub Actions'}]"

            - uses: actions/checkout@v3
            - name: rsync deployments
              uses: burnett01/rsync-deployments@7.1.0
              with:
                  switches: -avz --delete --exclude=".git" --exclude="env" --exclude=".env" --exclude="staticfiles"
                  path: backend/
                  remote_path: /home/ubuntu/lucid-go/app/backend/
                  remote_host: ${{ secrets.EC2_HOST }}
                  remote_user: ${{ secrets.EC2_USER }}
                  remote_key: ${{ secrets.EC2_KEY }}

            - name: Run deploy script for EC2
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_KEY }}
                  script: |
                      cd /home/ubuntu/lucid-go/app/backend
                      ./deploy.sh

            - name: Revoke SSH from runner
              if: always()
              run: |
                  aws ec2 revoke-security-group-ingress \
                  --group-id ${{ secrets.AWS_SECURITY_GROUP_ID }} \
                  --ip-permissions "IpProtocol=tcp,FromPort=22,ToPort=22,IpRanges=[{CidrIp=${{ steps.ip.outputs.ip }}/32,Description='GitHub Actions'}]"
